.user-card-container {
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 30px;
}

.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.user-details-container {
  margin-left: 12px;
}

.user-name {
  font-size: 18px;
  color: #12022f;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 8px;
}

.user-designation {
  font-family: 'Roboto';
  font-size: 14px;
  color: #594d6d;
  margin: 0px;
}

.delete-button {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #594d6d;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
  margin-left: 12px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.delete-img {
  width: 15px;
  height: 15px;
}

.button {
  border-radius: 6px;
  border-width: 0px;
  background-color: #12022f;
  color: #ffffff;
  padding: 5px;
  margin-left: 20px;
  font-family: Bree Serif;
  box-shadow: 0px 4px 16px 0px #594d6d;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .user-card-container {
    justify-content: space-around;
  }
  .profile-pic {
    height: 140px;
    width: 140px;
    border-radius: 50%;
  }
  .user-details-container {
    margin-left: 13px;
  }
  .user-name {
    font-size: 38px;
  }

  .user-designation {
    font-size: 20px;
  }

  .button {
    padding: 20px;
    width: 14vw;
  }
}
